<div class="todo">
    <div style="text-align:center">
        <h1> {{ title }}</h1>
    </div>
  <div>
    <input type="text" #taskTitle />
    <button (click)="add(taskTitle.value); taskTitle.value=''" class="add">Add task</button>
  </div>
  <ul  class="tasks-list">
    <li *ngFor="let task of tasks" [class.done]="task.status === true">
      <span>ID:{{task.id}} </span><strong>{{task.title}}, </strong><span>status - {{task.status}}</span>
      <div class="btns">
        <button (click)="onSelect(task)">{{ task.status === true ? 'UnDone' : 'Done' }}</button>
        <button (click)="delete(task)">Del</button>
      </div>
    </li>
  </ul>
</div>

